.svg-card-dims {
	width: 512px;
	height: 512px;
}

.svg-clock-dims {
	width: 14px;
	height: 14px;
}

.svg-close-dims {
	width: 10px;
	height: 11px;
}

.svg-dorohov-dims {
	width: 88px;
	height: 30px;
}

.svg-dropdown-dims {
	width: 16px;
	height: 9px;
}

.svg-dustbin-dims {
	width: 16px;
	height: 16px;
}

.svg-facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-filter-dims {
	width: 33px;
	height: 24px;
}

.svg-heart-dims {
	width: 22px;
	height: 22px;
}

.svg-heart_fill-dims {
	width: 22px;
	height: 22px;
}

.svg-instagram-dims {
	width: 32px;
	height: 32px;
}

.svg-link-dims {
	width: 33px;
	height: 5px;
}

.svg-logo-dims {
	width: 100px;
	height: 83px;
}

.svg-minus-dims {
	width: 11px;
	height: 11px;
}

.svg-modal_close-dims {
	width: 11px;
	height: 11px;
}

.svg-ok-dims {
	width: 32px;
	height: 32px;
}

.svg-pack-dims {
	width: 23px;
	height: 23px;
}

.svg-pass_hide-dims {
	width: 17px;
	height: 7px;
}

.svg-pass_show-dims {
	width: 17px;
	height: 17px;
}

.svg-plus-dims {
	width: 11px;
	height: 11px;
}

.svg-search-dims {
	width: 23px;
	height: 23px;
}

.svg-search_input-dims {
	width: 23px;
	height: 23px;
}

.svg-silveria-dims {
	width: 1094px;
	height: 215px;
}

.svg-user-dims {
	width: 23px;
	height: 23px;
}

.svg-vk-dims {
	width: 32px;
	height: 32px;
}

