body {
    @include gradient();
    font-family: 'Circe';
    font-weight: normal;
    font-style: normal;
    &.is--menu-open {
        overflow: hidden;
        .navbar__mobile__container {
            transform: none;
        }
        .navbar__search {
            position: relative;
            z-index: 999999999;
            transform: none;
            display: block;
        }
    }
    &.is--filters-open {
        overflow: hidden;
        .catalog__category__aside {
            transform: none;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: top;
    width: 100%;
}

svg {
    vertical-align: top;
}

.__animate {
    opacity: 0;
    animation-duration: 1.5s;
    &.go {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(#000, .5);
    z-index: 999999997;
    left: 0;
    top: 0;
    display: none;
}