$main-container-width: 1130px;
$border-color: rgba(#978683, .5);

.catalog {
    &__tiles {
        margin: -1px;
        overflow: hidden;
        &__block {
            overflow: hidden;
            &.is1 {
                display: flex;
                &--left,
                &--right {
                    width: 50%;
                    overflow: hidden;
                }
                &--left {
                    &__block {
                        padding: 1px;
                        &__inner {
                            width: 100%;
                            height: 750px;
                            background: #E3DCD5;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .catalog__tiles {
                                &__text {
                                    font-family: 'Playfair Display SC';
                                    color: #1C1C1C;
                                    font-size: 36px;
                                    letter-spacing: 0.02em;
                                    line-height: 36px;
                                    margin-bottom: 20px;
                                }
                                &__desc {
                                    font-size: 18px;
                                    line-height: 28px;
                                    color: #7C7B7B;
                                    text-align: center;
                                    max-width: 420px;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
                &--right {
                    display: flex;
                    flex-wrap: wrap;
                    &__block {
                        padding: 1px;
                        width: 50%;
                        &__inner {
                            height: 100%;
                            background: #ECEBF0;
                            display: block;
                            position: relative;
                            text-decoration: none;
                            overflow: hidden;
                            &.is1 {
                                .catalog__tiles__abs__img {
                                    max-width: 150px;
                                    top: 100px;
                                }
                            }
                            &.is2 {
                                background: #E8ECF1;
                                .catalog__tiles__abs__img {
                                    max-width: 280px;
                                    top: 100px;
                                }
                            }
                            &.is3 {
                                .catalog__tiles__abs__img {
                                    max-width: 180px;
                                    top: 100px;
                                }
                            }
                            &.is4 {
                                .catalog__tiles__abs__img {
                                    max-width: 200px;
                                    top: 0;
                                }
                            }
                            .catalog__tiles__abs__text {
                                margin: 0 auto;
                                left: 0;
                                right: 0;
                                text-align: center;
                                bottom: 50px;
                            }
                        }
                    }
                }
            }
            &.is2 {
                &--block {
                    padding: 1px;
                    &__inner {
                        height: 490px;
                        background: #F3F3F6;
                        display: block;
                        text-decoration: none;
                        overflow: hidden;
                        position: relative;
                        .catalog__tiles__abs__text {
                            left: 20%;
                            top: 60px;
                        }
                        .catalog__tiles__abs__img {
                            max-width: 400px;
                            top: 100px;
                        }
                    }
                }
            }
            &.is3 {
                display: flex;
                &--right,
                &--left {
                    width: 50%;
                }
                &--left {
                    display: flex;
                    flex-wrap: wrap;
                    &__block {
                        padding: 1px;
                        width: 100%;
                        &__inner {
                            height: 100%;
                            display: block;
                            text-decoration: none;
                            position: relative;
                            &.is1 {
                                background: #E8ECF1;
                                .catalog__tiles__abs__text {
                                    right: 10%;
                                    top: 50px;
                                }
                                .catalog__tiles__abs__img {
                                    max-width: 260px;
                                    top: 80px;
                                }
                            }
                            &.is2 {
                                background: #E3DCD5;
                                .catalog__tiles__abs__text {
                                    right: 10%;
                                    top: 50px;
                                }
                                .catalog__tiles__abs__img {
                                    max-width: 190px;
                                    top: 80px;
                                }
                            }
                        }
                    }
                }
                &--right {
                    &__block {
                        padding: 1px;
                        &__inner {
                            display: block;
                            height: 780px;
                            width: 100%;
                            text-decoration: none;
                            background: #ECEBF0;
                            overflow: hidden;
                            position: relative;
                            .catalog__tiles__abs__text {
                                right: 0;
                                left: 0;
                                text-align: center;
                                top: 50px;
                            }
                            .catalog__tiles__abs__img {
                                max-width: 230px;
                                top: 30%;
                            }
                        }
                    }
                }
            }
        }
        &__abs {
            &__text {
                position: absolute;
                line-height: 26px;
                font-size: 24px;
                letter-spacing: 0.02em;
                color: #1C1C1C;
                font-family: 'Playfair Display SC';
            }
            &__img {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100%;
            }
        }
    }
    &__category {
        &__wrap {
            display: flex;
        }
        &__head {
            &.is--container {
                display: flex;
                margin-bottom: 70px;
                align-items: flex-end;
            }
            &.is--left {
                display: flex;
                align-items: flex-end;
                max-width: 300px;
                width: 100%;
                padding-bottom: 3px;
            }
            &.is--right {
                max-width: $main-container-width;
                margin-left: 30px;
                width: 100%;
                margin-left: auto;
                display: flex;
                justify-content: space-between;
            }
            &__count {
                line-height: 13px;
                font-size: 18px;
                color: #373737;
                font-weight: 300;
                margin-left: 20px;
            }
            &__fbtn {
                width: 100%;
                display: none;
                button {
                    svg {
                        width: 22px;
                        fill: #978683;
                    }
                    span {
                        display: block;
                        margin-right: 10px;
                    }
                    background: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    border: 1px solid #978683;
                    font-weight: 300;
                    padding: 10px 15px;
                    cursor: pointer;
                    outline: none;
                }
            }
            &__filters {
                display: flex;
                align-items: center;
                &.is--left {
                    ul {
                        display: flex;
                        li {
                            border: 1px solid #978683;
                            padding: 5px 8px;
                            margin-right: 10px;
                            display: flex;
                            align-items: center;
                            cursor: default;
                            span {
                                line-height: 28px;
                                font-size: 18px;
                                color: #373737;
                                font-weight: 300;
                            }
                            svg {
                                vertical-align: top;
                            }
                            button {
                                cursor: pointer;
                                border: none;
                                background: transparent;
                                padding: 0;
                                width: 10px;
                                height: 11px;
                                margin-left: 10px;
                                outline: none;
                            }
                            &:hover {
                                border-color: #726260;
                            }
                        }
                    }
                }
                a {
                    &.is--remove {
                        display: inline-block;
                        margin-left: 25px;
                        font-size: 18px;
                        color: #1E1E1E;
                        font-weight: 300;
                        text-decoration: none;
                    }
                }
                &__select {
                    position: relative;
                    display: flex;
                    label {
                        &.is--text {
                            font-size: 18px;
                            color: #1E1E1E;
                            font-weight: 300;
                            margin-right: 10px;
                        }
                        &.is--arrow {
                            position: absolute;
                            right: 0;
                            top: 5px;
                            z-index: 10;
                        }
                    }
                }
            }
        }
        &__aside {
            max-width: 300px;
            width: 100%;
        }
        &__list {
            max-width: $main-container-width;
            margin-left: 30px;
            width: 100%;
            margin-left: auto;
            &__inner {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-bottom: 50px;
            }
        }
        &__filter {
            margin-bottom: 40px;
            &__title {
                font-size: 24px;
                color: #363636;
                margin-bottom: 20px;
            }
            ul {
                margin-bottom: 20px;
                li {
                    input {
                        &[type="radio"] {
                            display: none;
                            &:checked + label {
                                &::before {
                                    background: #978683;
                                }
                            }
                        }
                    }
                    label {
                        display: block;
                        line-height: 28px;
                        font-size: 18px;
                        font-weight: 300;
                        cursor: pointer;
                        color: #373737;
                        padding-left: 30px;
                        position: relative;
                        margin-bottom: 15px;
                        &::before {
                            transition: .25s all ease;
                            content: '';
                            width: 14px;
                            height: 14px;
                            border-radius: 100%;
                            border: 4px solid #ECEBF0;
                            position: absolute;
                            display: block;
                            background: #ECEBF0;
                            left: 0;
                            top: 2px;
                        }
                    }
                    ul {
                        padding-left: 30px;
                        li {
                            margin-bottom: 15px;
                            label {
                                font-size: 16px;
                                padding-left: 20px;
                                line-height: 16px;
                                margin-bottom: 0;
                                &::before {
                                    width: 7px;
                                    height: 7px;
                                    border-width: 3px;
                                    top: 0px;
                                }
                            }
                        }
                    }
                }
            }
            &__alllink {
                padding-left: 30px;
                font-size: 14px;
                color: #373737;
                font-weight: 300;
                cursor: pointer;
                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.card {
    width: 33.33333%;
    padding: 9px;
    height: 357px;
    position: relative;
    &.is--hover {
        z-index: 999;
        background: #fff;
        .card {
            &__img {
                z-index: 10;
                &__pic {
                    img {
                        transform: scale(1.1);
                    }
                }
                &__price {
                    visibility: hidden;
                    opacity: 0;
                }
                &__favorite {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &__info {
                opacity: 1;
                visibility: visible;
                &::before {
                    height: 100%;
                }
                &::after {
                    width: 100%;
                }
                &__inner {
                    &::before {
                        height: 100%;
                    }
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__wrap {
        height: 100%;
    }
    &__inner {
        height: 100%;
    }
    &__img {
        height: 100%;
        background: #ECEBF0;
        position: relative;
        &__pic {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            img {
                transition: .25s all ease;
                max-width: 176px;
                width: 100%;    
                margin-top: -40px;
            }
        }
        &__price {
            position: absolute;
            line-height: 28px;
            font-size: 18px;
            width: 100%;
            text-align: center;
            bottom: 30px;
            color: #373737;
            font-weight: 300;
            transition: .25s all ease;
        }
        &__favorite {
            position: absolute;
            top: 30px;
            left: 30px;
            opacity: 0;
            visibility: hidden;
            transition: .25s all ease;
            span {
                &.is--notactive {
                    svg {
                        fill: #000;
                    }
                }
                &.is--active {
                    display: none;
                    svg {
                        fill: $red-color;
                    }
                }
            }
            .is--active {
                span {
                    @include favoriteButtonShadowEffect();
                    &.is--active {
                        display: block;
                    }
                    &.is--notactive {
                        display: none;
                    }
                }
            }
        }
    }
    &__info {
        height: calc(100% + 2px);
        width: 200%;
        position: absolute;
        background: #fff;
        right: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        margin: -1px;
        transition: .5s all ease;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 0;
            background: $border-color;
            transition: .8s all ease;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 0;
            background: $border-color;
            transition: .8s all ease;
        }
        &__inner {
            padding-right: 50%;
            height: 100%;
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 0;
                background: $border-color;
                transition: .8s all ease;
            }
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background: $border-color;
                transition: .8s all ease;
            }
            &__wrap {
                padding: 50px;
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
            }
        }
        &__name {
            line-height: 28px;
            font-size: 18px;
            font-weight: 300;
            color: #373737;
            margin-bottom: 20px;
        }
        &__price {
            line-height: 28px;
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
    &:first-child {
        .card {
            &__info {
                right: auto !important;
                left: 0% !important;
                &__inner {
                    padding: 0 0 0 50% !important;
                }
            }
        }
    }
    &:nth-child(3n-1),
    &:nth-child(3n-2) {
        .card {
            &__info {
                right: auto;
                left: 0%;
                &__inner {
                    padding: 0 0 0 50%;
                }
            }
        }
    }
    &:last-child {
        .card {
            &__info {
                right: 0;
                left: auto;
                &__inner {
                    padding: 0 50% 0 0;
                }
            }
        }
    }
}

#filclose {
    display: none;
    span {
        display: block;

    }
}

.item {
    &__container {
        margin-bottom: 100px;
        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            max-width: 385px;
            width: 100%;
        }
        &__right {
            max-width: 280px;
            width: 100%;
            margin-right: 70px;
        }
        &__center {
            max-width: 550px;
            width: 100%;
            padding: 0 30px;
            margin: 0 auto;
        }
        &__heading {
            line-height: 37px;
            font-size: 24px;
            color: #363636;
            margin-bottom: 15px;
        }
        &__price {
            margin-bottom: 50px;
            &__n {
                letter-spacing: 0.02em;
                line-height: 31px;
                font-size: 24px;
                color: #000;
                span {
                    font-size: 18px;
                }
            }
        }
        &__sizes {
            &__form {
                form {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 25px;
                }
                &__inp {
                    input {
                        display: none;
                        &:checked + label {
                            &::before {
                                height: 100%;
                            }
                            &::after {
                                width: 100%;
                            }
                            span {
                                &::before {
                                    height: 100%;
                                }
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0px 3px;
                        width: 45px;
                        height: 45px;
                        cursor: pointer;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            height: 0;
                            width: 1px;
                            background: rgba(#978683, .5);
                            transition: .25s all ease;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 0;
                            height: 1px;
                            background: rgba(#978683, .5);
                            transition: .25s all ease;
                        }
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 37px;
                            height: 37px;
                            background: #ECEBF0;
                            line-height: 16px;
                            font-size: 16px;
                            color: #363636;
                            font-weight: 300;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                height: 0%;
                                width: 1px;
                                background: rgba(#978683, .5);
                                transition: .25s all ease;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0px;
                                right: 0px;
                                width: 0%;
                                height: 1px;
                                background: rgba(#978683, .5);
                                transition: .25s all ease;
                            }
                        }
                    }
                }
                &__links {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 60px;
                    a {
                        line-height: 28px;
                        color: #363636;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }
        }
        &__btns {
            &.is--container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            a {
                &:hover {
                    span {
                        color: #000 !important;
                    }
                }
            }
            &.is--add-basket {
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    span {
                        display: block;
                        &.is--icon {
                            max-width: 31px;
                            height: 17px;
                            margin-right: 10px;
                        }
                        &.is--text {
                            line-height: 36px;
                            font-size: 18px;
                            color: #545252;
                            transition: .25s all ease;
                        }
                    }
                }
            }
            &.is--favorite {
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    span {
                        display: block;
                        &.is--icon {
                            svg {
                                fill: #000;
                            }
                            &.is--active {
                                display: none;
                                svg {
                                    fill: $red-color;
                                }
                            }
                        }
                        &.is--text {
                            margin-left: 10px;
                            line-height: 36px;
                            font-size: 18px;
                            color: #545252;
                            transition: .25s all ease;
                        }
                    }
                }
                &.is--active {
                    span {
                        &.is--icon {
                            @include favoriteButtonShadowEffect();
                        }
                        &.is--notactive {
                            display: none;
                        }
                        &.is--active {
                            display: block !important;
                        }
                    }
                }
            }
        }
        &__list {
            dl {
                margin: 0;
                padding: 8px 0;
                &::after {
                    clear: both;
                    content: '';
                    display: block;
                }
                dt,
                dd {
                    float: left;
                    display: flex;
                    align-items: center;
                    color: #363636;
                    font-size: 18px;
                }
                position: relative;
                dt {
                    width: 100%;
                    margin-right: -120px;
                    font-weight: 300;
                    span {
                        max-width: 120px;
                    }
                }
                dd {
                    width: 120px;
                    margin: 0;
                    .popup {
                        margin-left: 5px;
                        &__container {
                            margin: 0 0 0 7px;
                        }
                        button {
                            border: none;
                            padding: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: none;
                            width: 13px;
                            height: 13px;
                            background: url(../../img/svg/info.svg);
                            transition: .25s all ease;
                        }
                        &:hover {
                            button {
                                background: url(../../img/svg/info_fill.svg);
                            }
                        }
                    }
                }
            }
        }
        &__img {
            margin-bottom: 10px;
            &__inner {
                min-height: 300px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                img {
                    max-width: 310px;
                    transition: .25s all ease;
                }
            }
            &.is--hover {
                .item__container__img__inner {
                    img {
                        opacity: 0;
                    }
                }
            }
        }
        &__name {
            text-align: center;
            font-family: 'Playfair Display SC';
            letter-spacing: 0.02em;
            line-height: 28px;
            font-size: 24px;
            margin-bottom: 20px;
        }
        &__collection {
            text-align: center;
            line-height: 28px;
            font-size: 18px;
            color: #7C7B7B;
            font-weight: 300;
            margin-bottom: 30px;
            a {
                text-decoration: none;
                color: inherit;
                font-weight: 400;
                transition: .25s all ease;
                &:hover {
                    color: #000;
                }
            }
        }
        &__art {
            text-align: center;
            font-weight: 300;
            line-height: 28px;
            font-size: 18px;
            text-align: center;
            color: #7C7B7B;
        }
    }
}

.cardsf {
    &__title {
        font-family: 'Playfair Display SC';
        line-height: 24px;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: #000000;
        margin-bottom: 50px;
    }
    &__container {
        flex-wrap: wrap;
        display: flex;
        .card {
            width: 25%;
        }
    }
}

@media (max-width: $resp1200) {
    .catalog {
        &__tiles {
            &__block {
                &.is1 {
                    &--left {
                        display: none;
                    }
                    &--right {
                        width: 100%;
                        height: 800px;
                        &__block {
                            &__inner {
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        &__category {
            &__head {
                &.is--container {
                    flex-wrap: wrap;
                }
                &.is--left {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .card {
        width: 50%;
        &:nth-child(even) {
            .card {
                &__info {
                    left: auto;
                    right: 0;
                    &__inner {
                        padding: 0 50% 0 0; 
                    }
                }
            }
        }
        &:nth-child(odd) {
            .card {
                &__info {
                    right: auto;
                    left: 0;
                    &__inner {
                        padding: 0 0 0 50%; 
                    }
                }
            }
        }
    }
    .cardsf {
        &__container {
            .card {
                width: 50%;
            }
        }
    }
    .item {
        &__container {
            &__heading {
                font-size: 20px;
                margin-bottom: 10px;
                line-height: 20px;
            }
            &__price {
                margin-bottom: 20px;
            }
            &__left {
                max-width: 200px;
            }
            &__right {
                margin-right: 0;
                max-width: 230px;
            }
            &__sizes {
                &__form {
                    &__links {
                        flex-wrap: wrap;
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
            &__btns {
                &.is--container {
                    flex-wrap: wrap;
                    a {
                        span {
                            &.is--text {
                                font-size: 14px;
                            }
                        }
                    }
                }
                &.is--add-basket {
                    span {
                        &.is--icon {
                            height: 17px !important;
                        }
                    }
                }
            }
            &__list {
                .popup {
                    &__container {
                        transform: translateX(-90%);
                        &__inner {
                            &::after,
                            &::before {
                                left: 90%;
                            }
                        }
                    }
                }
                dl {
                    padding-top: 4px;
                    padding-bottom: 4px;
                    dt,
                    dd {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .catalog {
        &__category {
            &__head {
                &.is--container {
                    margin-bottom: 20px;
                }
                &.is--right {
                    flex-wrap: wrap;
                }
                &__filters {
                     &.is--left {
                         width: 100%;
                         margin-bottom: 20px;
                     }
                     &.is--right {
                         margin-bottom: 30px;
                     }
                }
                &__fbtn {
                    display: block;
                }
            }
            &__aside {
                position: fixed;
                z-index: 999999999999;
                width: 300px;
                background: #fff;
                left: 0;
                top: 0;
                max-width: 100%;
                padding: 20px;
                height: 100vh;
                overflow-y: scroll;
                transform: translateX(-100vw);
                transition: .25s all ease;
            }
        }
    }
    #filclose {
        margin-bottom: 20px;
        display: block;
        border: none;
        padding: 20px;
        background: transparent;
        margin-left: auto;
        outline: none;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 1px;
            background: #000;
            transform: translate3d(0,10px,0) rotate(45deg);
            position: relative;
            margin-top: -10px;
            &::after {
                content: '';
                width: 30px;
                height: 1px;
                background: #000;
                transform: translate3d(-15px,0px,0) rotate(-90deg);
                position: absolute;
            }
        }
    }
    .item {
        &__container {
            max-width: 768px;
            margin: 0 auto 50px auto;
            &__inner {
                flex-flow: wrap;
            }
            &__center {
                width: 100%;
                max-width: 100%;
                margin-bottom: 30px;
            }
            &__left {
                order: 1;
            }
            &__left,
            &__right {
                max-width: 40%;
            }
        }
    }
}

@media (max-width: $resp768) {
    .catalog {
        &__tiles {
            &__block {
                &.is1 {
                    &--right {
                        height: 530px;
                    }
                }
                &.is2 {
                    &--block {
                        &__inner {
                            height: 250px;
                            .catalog {
                                &__tiles {
                                    &__abs {
                                        &__text {
                                            top: 40px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.is3 {
                    flex-wrap: wrap;
                    &--left,
                    &--right {
                        width: 100%;
                    }
                    &--left {
                        height: 500px;
                        .catalog__tiles__abs__text {
                            top: 30px !important;
                        }
                    }
                    &--right {
                        &__block {
                            &__inner {
                                height: 330px;
                            }
                        }
                        .catalog__tiles__abs__img {
                            top: auto;
                            bottom: 30px;
                        }
                    }
                }
            }
            &__abs {
                &__img {
                    max-width: 150px !important;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                &__text {
                    font-size: 18px;
                    line-height: 22px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        &__category {
            &__head {
                &__count {
                    font-size: 16px;
                }
                &__filters {
                    &.is--left {
                        flex-wrap: wrap;
                        ul {
                            flex-wrap: wrap;
                            width: 100%;
                            li {
                                margin-bottom: 10px;
                                font-size: 16px;
                                span {
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                            }
                        }
                        a {
                            &.is--remove {
                                margin-left: 0;
                                font-size: 16px;
                            }
                        }
                    }
                    &__select {
                        label {
                            &.is--text {
                                display: none;
                            }
                        }
                    }
                }
            }
            &__list {
                &__inner {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .card {
        width: 100%;
        height: 280px;
        &__info {
            width: 100%;
            margin: 0;
            &__inner {
                &__wrap {
                    display: none;
                }
            }
        }
        &__img {
            &__favorite {
                visibility: visible;
                opacity: 1;
            }
        }
        &.is--hover {
            .card {
                &__img {
                    &__price {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .cardsf {
        &__title {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 20px;
        }
        &__container {
            .card {
                width: 100%;
            }
        }
    }
    .item {
        &__container {
            &__name {
                font-size: 18px;
                line-height: 20px;
            }
            &__collection {
                font-size: 16px;
                margin-bottom: 15px;
            }
            &__art {
                font-size: 16px;
            }
            &__center {
                padding-right: 0;
                padding-left: 0;
            }
            &__left {
                max-width: 100%;
            }
            &__right {
                max-width: 300px;
                margin-bottom: 50px;
                .popup {
                    &__container {
                        transform: translateX(-70%);
                        &__inner {
                            &::before,
                            &::after {
                                left: 70%;
                            }
                        }
                    }
                }
            }
            &__btns {
                &.is--add-basket {
                    margin-right: 20px;
                }
            }
            &__img {
                &__inner {
                    min-height: 0;
                    max-width: 400px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 100%;
                    }
                }
            }
            &__sizes {
                &__form {
                    &__links {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}