.footer {
    &__top {
        border-top: 1px solid rgba(#978683, .25);
        &__inner {
            padding-top: 45px;
            padding-bottom: 45px;
            @extend .container;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__block {
            &__title {
                line-height: 19px;
                font-size: 18px;
                letter-spacing: 0.02em;
                font-family: 'Playfair Display SC';
                color: #1C1C1C;
                font-weight: 400;
                margin-bottom: 20px;
            }
            &__menu {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li {
                        line-height: 28px;
                        font-size: 14px;
                        color: #7C7B7B;
                        a {
                            color: #7C7B7B;
                            text-decoration: none;
                            transition: .25s all ease;
                            display: block;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
            &.is--email {
                max-width: 357px;
                width: 100%;
            }
            &__input {
                width: 100%;
                position: relative;
                input {
                    &[type="email"] {
                        display: block;
                        width: 100%;
                        outline: none;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #978683;
                        font-size: 12px;
                        color: #000;
                        padding: 10px 0;
                        &::placeholder {
                            color: #A8A8A8;
                        }
                    }
                    &[type="submit"] {
                        background: url(../../img/svg/link.svg);
                        color: transparent;
                        border: none;
                        outline: none;
                        width: 31px;
                        height: 4px;
                        top: 50%;
                        padding: 0;
                        right: 0;
                        position: absolute;
                    }
                }
            }
            &__socials {
                ul {
                    margin: 0 -5px;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    li {
                        padding: 0 5px;
                        a {
                            svg {
                                fill: #E3DCD5;
                                transition: .25s all ease;
                            }
                            &:hover {
                                svg {
                                    fill: #CD174E;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        &__inner {
            @extend .container;
        }
        &__wrap {
            border-top: 1px solid rgba(#978683, .25);
            height: 60px;
            display: flex;
            align-items: center;
        }
        &__cop {
            line-height: 24px;
            font-size: 12px;
            color: #7C7B7B;
        }
        &__menu {
            margin-left: auto;
            padding-right: 100px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                li {
                    margin-left: 60px;
                    a {
                        line-height: 24px;
                        font-size: 12px;
                        text-decoration: none;
                        color: #7C7B7B;
                        transition: .25s all ease;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        &__dorohov {
            a {
                display: flex;
                text-decoration: none;
                align-items: center;
            }
            &--text {
                font-size: 12px;
                color: #7C7B7B;
                padding-right: 5px;
                transition: .25s all ease;
            }
            &--logo {
                svg {
                    transition: .25s all ease;
                    fill: #7C7B7B;
                }
            }
            &:hover {
                .footer__bottom__dorohov {
                    &--text {
                        color: #000;
                    }
                    &--logo {
                        svg {
                            fill: #000;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .footer {
        &__top {
            &__block {
                &.is--email {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $resp768) {
    .footer {
        &__top {
            &__inner {
                flex-wrap: wrap;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            &__block {
                width: 100%;
                &.is--mh {
                    display: none;
                }
                &.is--socials {
                    padding-top: 15px;
                    .footer {
                        &__top {
                            &__block {
                                &__title {
                                    display: none;
                                }
                            }
                        }
                    }
                    ul {
                        justify-content: flex-start;
                        li {
                            padding: 0 3px;
                        }
                    }
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        &__bottom {
            &__inner {

            }
            &__wrap {
                padding: 20px 0;
                height: auto;
                justify-content: space-between;
            }
            &__menu {
                display: none;
            }
            &__dorohov {
                &--text {
                    display: none;
                }
            }
        }
    }
}