.container {
    max-width: 1590px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.page {
    @extend .container;
    padding-top: 30px;
    padding-bottom: 110px;
}

@media (max-width: $resp768) {
    .page {
        padding-bottom: 50px;
    }
    .container {
        max-width: 1560px;
        padding-left: 15px;
        padding-right: 15px;
    }
}