.container {
    max-width: 1560px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.page {
    @extend .container;
    padding-top: 30px;
    padding-bottom: 110px;
}

@media (max-width: $resp768) {
    .page {
        padding-bottom: 50px;
    }
}