$category-block-border: #978683;

.heading {
    margin: 0;
    line-height: 36px;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-family: 'Playfair Display SC';
    font-weight: 400;
    color: #000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &.is--center {
        padding: 50px 0;
        text-align: center;
        justify-content: center;
    }
    a {
        color: #373737;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        font-family: 'Circe';
        font-weight: 300;
        transition: .25s all ease;
        &:hover {
            color: #000;
        }
    }
}

.ring {
    padding: 100px 0 70px 0;
    overflow: hidden;
    &__img {
        margin-bottom: 100px;
        &__block {
            position: relative;
            padding: 0 15px;
            &__inner {
                max-width: 595px;
                width: 100%;
                margin: 0 auto;
                padding: 0 50px;
                position: relative;
                z-index: 10;
                animation: 5s ease-in-out 0s normal none infinite work-slide-pavilion-2;
                &__canvas {
                    position: relative;
                    // transition: .25s all ease;
                    canvas {
                        width: 100%;
                        height: auto;
                        &#bRing {
                            position: relative;
                            z-index: 10;
                        }
                        &#bRingB {
                            z-index: 9;
                            position: absolute;
                            width: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
            &__text {
                position: absolute;
                text-align: center;
                width: calc(100% - 30px);
                top: 50%;
                margin-top: -60px;
                img {
                    max-width: 1110px;
                }
            }
        }
    }
    &__content {
        text-align: center;
        &__title {
            line-height: 58px;
            font-size: 58px;
            letter-spacing: 0.02em;
            color: #000;
            font-family: 'Playfair Display SC';
            margin-bottom: 50px;
        }
        &__text {
            max-width: 490px;
            margin: 0 auto;
            line-height: 28px;
            font-size: 18px;
            text-align: center;
            color: #7C7B7B;
            font-weight: 300;
        }
    }
}

#bRing {
    &Img {
        display: none;
    }
    &Slides {
        display: none;
    }
}

.category-block {
    padding: 10px;
    border: 1px solid transparent;
    transition: .25s all ease;
    &::after {
        transition: .5s all ease;
        content: '';
        width: 0;
        height: 1px;
        background: $category-block-border;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &::before {
        transition: .5s all ease;
        content: '';
        width: 1px;
        height: 0;
        background: $category-block-border;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &__inner {
        background: #ECEBF0;
        padding: 0 15px 70px 15px;
        overflow: hidden;
    }
    &__img {
        text-align: center;
        margin-bottom: 40px;
        img {
            max-width: 218px;
            transition: .25s all ease;
        }
    }
    &__text {
        text-align: center;
        font-family: 'Playfair Display SC';
        line-height: 26px;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: #1C1C1C;
    }
    &__link {
        position: relative;
        display: block;
        padding: 2px;
        &:hover {
            &::after {
                width: 100%;
            }
            &::before {
                height: 100%;
            }
            .category-block {
                &::after {
                    width: 100%;
                }
                &::before {
                    height: 100%;
                }
                &__img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &::after {
            transition: .5s all ease;
            content: '';
            width: 0;
            height: 1px;
            background: $category-block-border;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &::before {
            transition: .5s all ease;
            content: '';
            width: 1px;
            height: 0;
            background: $category-block-border;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
}

.breadcrumbs {
    margin-bottom: 35px;
    ul {
        display: flex;
        li {
            line-height: 22px;
            font-size: 14px;
            a {
                text-decoration: none;
                color: #6F6F6F;
                display: block;        
                padding-right: 20px;
                position: relative;
                transition: .25s all ease;
                &::after {
                    content: url(../../img/svg/br_arr.svg);
                    position: absolute;
                    right: 7px;
                    top: 0;
                }
                &:hover {
                    color: #000;
                }
            }
            span {
                color: #373737;
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;
                max-width: 148px;
                width: 100%;
                display: block;
            }
        }
    }
}

.customselect {
    position: relative;
    cursor: pointer;
    z-index: 9999;
    &__title {
        font-size: 18px;
        color: #1E1E1E;
        font-weight: 300;
        padding-right: 20px;
        &::after {
            content: url(../../img/svg/dropdown.svg);
            position: absolute;
            right: 0;
            top: 3px;
            transition: .25s all ease;
        }
    }
    &__list {
        position: absolute;
        border: 1px solid #978683;
        background: #fff;
        right: 0;
        top: calc(100% + 10px);
        padding: 15px 0;
        opacity: 0;
        visibility: hidden;
        transition: .25s all ease;
        cursor: default;
        li {
            white-space: nowrap;
            a {
                font-size: 16px;
                color: #1E1E1E;
                font-weight: 300;
                text-decoration: none;
                display: block;
                padding: 6px 80px 6px 40px;
                &:hover {
                    color: #000;
                }
            }
            &.is--current {
                position: relative;
                &::after {
                    content: url(../../img/svg/check.svg);
                    position: absolute;
                    top: 50%;
                    margin-top: -7px;
                    left: 20px;
                }
            }
        }    
    }
    &.is--open {
        .customselect {
            &__title {
                &::after {
                    transform: rotate(180deg);
                    top: -1px;
                }
            }
            &__list {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.btn {
    color: #454545;
    font-size: 18px;
    letter-spacing: 0.11em;
    padding: 20px 60px;
    display: inline-block;
    text-decoration: none;
    background: #E3DCD5;
    transition: .25s all ease;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
        background: #D5CDC6;
    }
}

.popup {
    position: relative;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__container {
        padding-top: 10px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateX(-50%);
        transition: .25s all ease;
        &__inner {
            padding: 15px 25px;
            background: #fff;
            border: 1px solid rgba(#978683, .5);
            &::before,
            &::after {
                bottom: calc(100% - 11px);
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            &::after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 5px;
                margin-left: -5px;
            }
            &::before {
                border-color: rgba(203, 195, 193, 0);
                border-bottom-color: #CBC3C1;
                border-width: 6px;
                margin-left: -6px;
            }
        }
        ul {
            li {
                line-height: 22px;
                font-size: 14px;
                color: #363636;
                white-space: nowrap;
            }
        }
    }
}

.pagination {
    ul {
        display: flex;
        li {
            a,
            span {
                color: #373737;
                font-size: 18px;
                text-decoration: none;
                font-weight: 300;
                display: block;
                padding: 10px;
            }
            a {
                &:hover {
                    color: #000;
                }
            }
            &.is--next {
                a {
                    padding-right: 40px;
                    position: relative;
                    &::after {
                        content: url(../../img/svg/link.svg);
                        position: absolute;
                        top: 10px;
                        right: 0;
                    }
                }
            }
        }
    }
}

.countblock {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        width: 45px;
        height: 45px;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        display: block;
        padding: 0;
        border: 1px solid rgba(#C7C7C7, .5);
        background: transparent;
    }
    button {
        border: none;
        background: transparent;
        padding: 0;
        height: 40px;
        width: 40px;
        cursor: pointer;
        outline: none;
    }
}

.checklabel {
    position: relative;
    padding-left: 20px;
    input {
        display: none;
    }
    label {
        line-height: 18px;
        font-size: 14px;
        color: #7C7B7B;
        font-weight: 300;
        a {
            font-weight: 400;
            color: inherit;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            width: 14px;
            height: 14px;
            border: 3px solid #ECEBF0;
            display: block;
            background: #ECEBF0;
        }
    }
    input {
        &:checked {
            & + label {
                &::before {
                    background: #978683;
                }
            }
        }
    }
}

.parsley-errors-list {
    &.filled {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        padding: 5px 10px;
        z-index: 1000;
        background: #fff;
        border: 1px solid rgba(151,134,131,.5);
        li {
            color: #7c7b7b;
            font-size: 14px;
        }
        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 5px;
            margin-left: -5px;
        }
        &:before {
            border-color: rgba(203, 194, 193, 0);
            border-bottom-color: #CBC2C1;
            border-width: 6px;
            margin-left: -6px;
        }
    }
}

.qwer {
    ul {
        position: absolute;
        width: 100%;
        width: 273px;
        height: 174px;
        margin: 0 auto;
        left: 0;
        right: 0;
        overflow: hidden;
        li {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: 1s all ease;
            &.is--active {
                visibility: visible;
                opacity: 1;
            }
            // span {
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     &::after {
            //         content: '';
            //         background: url(../../img/framelist.png);
            //         width: 100%;
            //         height: 100%;
            //         display: block;
            //         background-size: cover;
            //     }
            // }
            // &.is--f1 {
            //     span {
            //         &::after {
            //             background-position: 0 0;
            //         }
            //     }
            // }
            // &.is--f2 {
            //     span {
            //         &::after {
            //             background-position: -273px 0;
            //         }
            //     }
            // }
            // &.is--f3 {
            //     span {
            //         &::after {
            //             background-position: -546px 0;
            //         }
            //     }
            // }
            // &.is--f4 {
            //     span {
            //         &::after {
            //             background-position: -819px 0;
            //         }
            //     }
            // }
            // &.is--f5 {
            //     span {
            //         &::after {
            //             background-position: -1092px 0;
            //         }
            //     }
            // }
            // &.is--f6 {
            //     span {
            //         &::after {
            //             background-position: -1365px 0;
            //         }
            //     }
            // }
            // &.is--f7 {
            //     span {
            //         &::after {
            //             background-position: -1638px 0;
            //         }
            //     }
            // }
            // &.is--f8 {
            //     span {
            //         &::after {
            //             background-position: -1911px 0;
            //         }
            //     }
            // }
            // &.is--f9 {
            //     span {
            //         &::after {
            //             background-position: -2184px 0;
            //         }
            //     }
            // }
            // &.is--f10 {
            //     span {
            //         &::after {
            //             background-position: -2457px 0;
            //         }
            //     }
            // }
            // &.is--f11 {
            //     span {
            //         &::after {
            //             background-position: -2730px 0;
            //         }
            //     }
            // }
            // &.is--f12 {
            //     span {
            //         &::after {
            //             background-position: -3003px 0;
            //         }
            //     }
            // }
            // &.is--f13 {
            //     span {
            //         &::after {
            //             background-position: -3276px 0;
            //         }
            //     }
            // }
        }
    }
}

@media (max-width: $resp1200) {
    .breadcrumbs {
        margin-bottom: 15px;
    }
}

@media (max-width: $resp768) {
    .heading {
        font-size: 20px;
        line-height: 20px;
        flex-wrap: wrap;
        a {
            display: block;
            width: 100%;
            margin-top: 20px;
            font-size: 16px;
            line-height: 16px;
        }
        &.is--center {
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }
    .category-block {
        &__img {
            margin-bottom: 20px;
            img {
                max-width: 150px;
            }
        }
        &__text {
            font-size: 18px;
        }
        &__inner {
            padding-bottom: 30px;
        }
    }
    .customselect {
        &__title {
            font-size: 16px;
        }
        &__list {
            right: auto;
            left: 0;
        }
    }
    .pagination {
        ul {
            li {
                &.is--next {
                    div {
                        display: none;
                    }
                }
            }
        }
    }
    .breadcrumbs {
        display: none;
    }
    .btn {
        padding: 15px 30px;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
    }
    .ring {
        &__img {
            &__block {
                &__text {
                    margin-top: -5%;
                }
            }
        }
    }
}

// Ring

@media (max-width: 840px) {
    .ring {
        &__img {
            &__block {
                &__inner {
                    max-width: 400px;
                }
            }
        }
    }
    .qwer {
        ul {
            width: 170px;
            height: 88px;
        }
    }
}

@media (max-width: 550px) {
    .ring {
        &__img {
            &__block {
                &__inner {
                    max-width: 300px;
                }
            }
        }
    }
    .qwer {
        ul {
            width: 110px;
            height: 54px;
        }
    }
}

@media (max-width: 550px) {
    .ring {
        &__img {
            &__block {
                &__inner {
                    max-width: 240px;
                }
            }
        }
    }
    .qwer {
        ul {
            width: 77px;
            height: 54px;
        }
    }
}