$category-block-border: #978683;

.heading {
    margin: 0;
    line-height: 36px;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-family: 'Playfair Display SC';
    font-weight: 400;
    &.is--center {
        padding: 50px 0;
        text-align: center;
    }
}

.ring {
    padding: 100px 0 70px 0;
    overflow: hidden;
    &__img {
        margin-bottom: 100px;
        &__block {
            position: relative;
            padding: 0 15px;
            &__inner {
                max-width: 595px;
                width: 100%;
                margin: 0 auto;
                padding: 0 50px;
                position: relative;
                z-index: 10;
            }
            &__text {
                position: absolute;
                text-align: center;
                width: calc(100% - 30px);
                top: 50%;
                margin-top: -60px;
                img {
                    max-width: 1110px;
                }
            }
        }
    }
    &__content {
        text-align: center;
        &__title {
            line-height: 58px;
            font-size: 58px;
            letter-spacing: 0.02em;
            color: #000;
            font-family: 'Playfair Display SC';
            margin-bottom: 50px;
        }
        &__text {
            max-width: 490px;
            margin: 0 auto;
            line-height: 28px;
            font-size: 18px;
            text-align: center;
            color: #7C7B7B;
            font-weight: 300;
        }
    }
}

.category-block {
    padding: 10px;
    border: 1px solid transparent;
    transition: .25s all ease;
    &::after {
        transition: .5s all ease;
        content: '';
        width: 0;
        height: 1px;
        background: $category-block-border;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &::before {
        transition: .5s all ease;
        content: '';
        width: 1px;
        height: 0;
        background: $category-block-border;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &__inner {
        background: #ECEBF0;
        padding: 0 15px 70px 15px;
        overflow: hidden;
    }
    &__img {
        text-align: center;
        margin-bottom: 40px;
        img {
            max-width: 218px;
            transition: .25s all ease;
        }
    }
    &__text {
        text-align: center;
        font-family: 'Playfair Display SC';
        line-height: 26px;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: #1C1C1C;
    }
    &:hover {
        // border-color:#978683;
    }
    &__link {
        position: relative;
        display: block;
        padding: 2px;
        &:hover {
            &::after {
                width: 100%;
            }
            &::before {
                height: 100%;
            }
            .category-block {
                &::after {
                    width: 100%;
                }
                &::before {
                    height: 100%;
                }
                &__img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &::after {
            transition: .5s all ease;
            content: '';
            width: 0;
            height: 1px;
            background: $category-block-border;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &::before {
            transition: .5s all ease;
            content: '';
            width: 1px;
            height: 0;
            background: $category-block-border;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
}

.breadcrumbs {
    ul {
        display: flex;
        li {
            line-height: 22px;
            font-size: 14px;
            a {
                text-decoration: none;
                color: #6F6F6F;
                display: block;        
                padding-right: 20px;
                position: relative;
                &::after {
                    content: url(../../img/svg/br_arr.svg);
                    position: absolute;
                    right: 7px;
                    top: 0;
                }
            }
            span {
                color: #373737;
            }
        }
    }
}

@media (max-width: $resp768) {
    .heading {
        font-size: 20px;
        line-height: 20px;
        &.is--center {
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }
    .category-block {
        &__img {
            margin-bottom: 20px;
            img {
                max-width: 150px;
            }
        }
        &__text {
            font-size: 18px;
        }
        &__inner {
            padding-bottom: 30px;
        }
    }
}