header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999999;
    transition: .25s all ease;
    transform: none;
    &.is--hide {
        transform: translateY(-100px);
    }
    &.is--scroll {
        background: #fff;
    }
}

.navbar {
    &__top {
        position: relative;
        z-index: 1000;
        &__inner {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @extend .container;
        }
        &__left,
        &__right {
            max-width: 80px;
            width: 100%;
        }
        &__icons {
            display: flex;
            justify-content: space-between;
        }
        &__logo {
            svg {
                height: 72px;
                width: 87px;
            }
        }
    }
    &__menu {
        border-top: 1px solid rgba(#978683, .6);
        position: relative;
        z-index: 1000;
        border-bottom: 1px solid rgba(#978683, .6);
        &__inner {
            height: 58px;
            @extend .container;
            ul {
                height: 100%;
                display: flex;
                justify-content: center;
                li {
                    height: 100%;
                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0 30px;
                        text-decoration: none;
                        color: #000;
                        font-size: 16px;
                        transition: .25s all ease;
                    }
                    &.is--active,
                    &:hover {
                        a {
                            color: rgba(#000, .6);
                        }
                    }
                }
            }
        }
    }
    &__mobile {
        border-top: 1px solid rgba(#978683, .6);
        border-bottom: 1px solid rgba(#978683, .6);
        position: relative;
        z-index: 1000;
        display: none;
        &__inner {
            height: 58px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
        }
        &__logo {
            svg {
                height: 40px;
                width: 48px;
            }
        }
        &__btn {
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: -15px;
        }
        &__container {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            @include gradient();
            left: 0;
            top: 60px;
            transition: .25s all ease;
            transform: translateX(-100vw);
            &__inner {
                padding: 80px 0 0 0;
            }
            &__menu {
                margin-bottom: 30px;
                ul {
                    li {
                        a {
                            text-decoration: none;
                            color: #000;
                            font-size: 18px;
                            display: block;
                            font-weight: 300;
                            padding: 10px 30px;
                        }
                    }
                }
            }
            &__icons {
                padding-left: 30px;
                padding-right: 30px;
                .navbar__top__icons {
                    max-width: 150px;
                }
            }
        }
    }
    &__dropdown {
        position: relative;
        z-index: 1000;
        background: #fff;
        border-bottom: 1px solid rgba(#978683, .6);
        display: none;
        &.is--show {
            display: block;
        }
        &__inner {
            @extend .container;
            display: flex;
            padding-top: 30px;
            padding-bottom: 30px;
            ul {
                li {
                    a {
                        font-size: 16px;
                        color: #000;
                        text-decoration: none;
                        padding: 5px 100px 5px 0;
                        display: block;
                        transition: .25s all ease;
                        &:hover {
                            color: rgba(#000, .6);
                        }
                    }
                }
                &:last-child {
                    li {
                        a {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
    &__search {
        border-bottom: 1px solid rgba(#978683, .6);
        background: #fff;
        display: none;
        &.is--show {
            display: block;
        }
        &__inner {
            @extend .container;
            height: 100px;
            display: flex;
            align-items: center;
            form {
                max-width: 700px;
                padding: 0 15px;
                margin: 0 auto;
                flex-wrap: wrap;
                position: relative;
                width: 100%;
                input[type="text"] {
                    width: 100%;
                    display: block;
                    border: none;
                    border-bottom: 1px solid #C7C7C7;
                    outline: none;
                    padding: 10px 0;
                    font-size: 16px;
                    color: #000;
                    font-weight: 300;
                    transition: .25s all ease;
                    &::placeholder {
                        color: #C2C2C2;
                    }
                    &:focus {
                        border-bottom-color: #978683;
                        & + button {
                            svg {
                                fill: #978683;
                            }
                        }
                    }
                }
                button {
                    position: absolute;
                    right: 15px;
                    top: 7px;
                    padding: 0;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    svg {
                        fill: #C7C7C7;
                        transition: .25s all ease;
                    }
                }
            }
        }
    }
}

#openMobileMenu {
    border: 0;
    padding: 0;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    background: transparent;
    outline: none;
    span {
        position: relative;
        border: none;
        background: #000;
        height: 1px;
        padding: 0;
        width: 40px;
        display: block;
        transition: .25s all ease;
        &::before,
        &::after {
            content: '';
            height: 1px;
            width: 30px;
            position: absolute;
            background: #000;
            left: 50%;
            margin-left: -15px;
            transition: .25s all ease;
        }
        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
        }
    }
    &.is--active {
        span {
            background: transparent;
            &::before {
                transform: translate3d(0, 10px, 0) rotate(45deg);
            }
            &::after {
                transform: translate3d(0, -10px, 0) rotate(-45deg);
            }
        }
    }
}

@media (max-width: 1300px) {
    .navbar {
        &__menu {
            &__inner {
                ul {
                    li {
                        a {
                            padding: 0 15px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .navbar {
        &__top,
        &__menu,
        &__search,
        &__dropdown {
            display: none;
        }
        &__mobile {
            display: block;
        }
        &__search {
            transform: translateX(-100vw);
            transition: .25s all ease;
            &__inner {
                height: 60px;
            }
        }
    }
}